flask
flask_sqlalchemy
flask_migrate
flask_login
flask_mail
flask_bcrypt
flask_wtf
wtforms
wtforms[email]
python-dotenv
pyseto
msal
pillow
python-docx
tk
werkzeug
beautifulsoup4
ConfigParser
Cython
IPython
PyInstaller
PyQt6
PySide6
alembic