flask
flask_sqlalchemy
flask_migrate
flask_login
flask_mail
flask_bcrypt
flask_wtf
wtforms
python-dotenv
pyseto
msal
pillow
docx
tk
werkzeug
beautifulsoup4
ConfigParser
Cython
IPython
PyInstaller
PyQt6
PySide6
alembic