# Note: If you are using Azure App Service, go to your app's Configuration,
# and then set the following values into your app's "Application settings".

# Expects a full tenant id such as "contoso.onmicrosoft.com", or its GUID
# Or leave it undefined if you are building a multi-tenant app
#TENANT_ID=<tenant id>
CLIENT_ID=5d76581d-6e82-4025-85cf-59f504dbd079
CLIENT_SECRET=9Es8Q~~3jQP4c8z3W6DkdnqT2bWsQpMbndEqpdc~