<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalise.css') }}">
    <title>Timesheet Management</title>
</head>
<body>
    <h1>Timesheet Management</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".docx,.pdf">
        <button type="submit">Upload Timesheet</button>
    </form>
    <br>
    <form action="/download_template" method="get">
        <button type="submit">Download Timesheet Template</button>
    </form>
</body>
</html>
